$xs: 500px;
$sm: 768px;
$md: 992px;
$lg: 1200px;
@mixin break($point){
	@if $point == sm{
		@media (max-width: $sm) { @content ; }
	} @else if $point == md {
		@media (max-width: $md){ @content ; }
	} @else if $point == lg {
		@media (max-width: $lg) { @content ; }
	}
}
