<section class="app-container section-transition-container">
    <div class="about-section about-section--1">
        <div class="picture-wrap"></div>
        <div class="inner-wrap">
            <h3>Ultricies aliquam</h3>
            <p>Phasellus convallis elit id ullamcorper pulvinar. Duis aliquam turpis mauris, eu ultricies erat malesuada quis. Aliquam dapibus.</p>
        </div>
    </div>
    <div class="about-section about-section--2">
        <div class="picture-wrap"></div>
        <div class="inner-wrap">
            <h3>Ultricies aliquam</h3>
            <p>Phasellus convallis elit id ullamcorper pulvinar. Duis aliquam turpis mauris, eu ultricies erat malesuada quis. Aliquam dapibus.</p>
        </div>
        </div>
    <div class="about-section about-section--3">
        <div class="picture-wrap"></div>
        <div class="inner-wrap">
            <h3>Ultricies aliquam</h3>
            <p>Phasellus convallis elit id ullamcorper pulvinar. Duis aliquam turpis mauris, eu ultricies erat malesuada quis. Aliquam dapibus.</p>
        </div>
    </div>
</section>
