<section class="section-transition-container contact">
    <div class="contact-container">
        <h2>Get in Touch</h2>
        <h4>Phasellus convallis elit id ullamcorper pulvinar. Duis aliquam turpis mauris, eu ultricies erat malesuada quis. Aliquam dapibus, lacus eget hendrerit bibendum, urna est aliquam sem, sit amet imperdiet est velit quis lorem.</h4>
        <div class="form-container">
            <form>
                <!-- Name -->
                <div class="input-container name-container">
                    <label for="name">Name</label>
                    <input type="text" name="name">
                </div>
                <!-- Email -->
                <div class="input-container email-container">
                    <label for="email">Email</label>
                    <input type="email" name="email">
                </div>
                <!-- Message -->
                <div class="input-container message-container">
                    <label for="message">Message</label>
                    <textarea name="message"></textarea>
                </div>
                <!-- Submit -->
                <div class="input-container submit-container">
                    <button type="submit">Send Message</button>
                </div>
            </form>
            <div class="social-container">
                <!-- Address -->
                <div class="address">
                    <label>Address</label>
                    <div class="address-wrap">
                        <h5> 12345 Somewhere Road #654 </h5>
                        <h5> Nashville, TN 00000-0000 </h5>
                        <h5> USA </h5>
                    </div>

                </div>
                <!-- Email -->
                <div class="email">
                    <label>Email</label>
                    <h5>
                        <a href="">user@untitled.tld</a>
                    </h5>
                </div>
                <!-- Telephone -->
                <div class="telephone">
                    <label>Phone</label>
                    <h5>(000) 000-0000</h5>
                </div>
                <!-- Social -->
                <div class="social">
                    <label>Social</label>
                    <section class="icons">
                        <span class="fa fa-twitter"></span>
                        <span class="fa fa-facebook"></span>
                        <span class="fa fa-github"></span>
                        <span class="fa fa-instagram"></span>
                        <span class="fa fa-linkedin"></span>
                    </section>
                </div>
                <!-- End social-container -->
            </div>
            <!-- End form-container -->
        </div>
    </div>
</section>
