
<main class="section-transition-container">
    <section class="work-container">
        <h3>What We Do</h3>
        <h4>Phasellus convallis elit id ullamcorper pulvinar. Duis aliquam turpis mauris, eu ultricies erat malesuada quis. Aliquam dapibus, lacus eget hendrerit bibendum, urna est aliquam sem, sit amet imperdiet est velit quis lorem.</h4>

        <div class="feature-container">
            <article>
                <div class="icon-wrap">
                    <span class="icon fa fa-code"></span>
                </div>
                <div class="content-wrap">
                    <h5>Lorem ipsum amet</h5>
                    <p>
                        Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.
                    </p>
                </div>
            </article>
            <article>
                <div class="icon-wrap">
                    <span class="icon fa fa-lock"></span>
                </div>
                <div class="content-wrap">
                    <h5>Lorem ipsum amet</h5>
                    <p>
                        Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.
                    </p>
                </div>
            </article>
            <article>
                <div class="icon-wrap">
                    <span class="icon fa fa-cog"></span>
                </div>
                <div class="content-wrap">
                    <h5>Lorem ipsum amet</h5>
                    <p>
                        Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.
                    </p>
                </div>
            </article>
            <article>
                <div class="icon-wrap">
                    <span class="icon fa fa-desktop"></span>
                </div>
                <div class="content-wrap">
                    <h5>Lorem ipsum amet</h5>
                    <p>
                        Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.
                    </p>
                </div>
            </article>
            <article>
                <div class="icon-wrap">
                    <span class="icon fa fa-link"></span>
                </div>
                <div class="content-wrap">
                    <h5>Lorem ipsum amet</h5>
                    <p>
                        Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.
                    </p>
                </div>
            </article>
            <article>
                <div class="icon-wrap">
                    <span class="icon fa fa-diamond"></span>
                </div>
                <div class="content-wrap">
                    <h5>Lorem ipsum amet</h5>
                    <p>
                        Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.
                    </p>
                </div>
            </article>
        </div>
    </section>
</main>
