.hero {
    @extend %animated;
    animation-duration: 0.8s;
    color: white;
    box-sizing: border-box;
    padding: rem(10) rem(100);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 0;
    position: absolute;

    button {
        cursor: pointer;
        background: none;
        border: solid 1px rgba(white, 0.5);
        padding: rem(10) rem(40);
        border-radius: rem(5);
        font-size: rem(20);
        color: white;
        transition: all ease 0.3s;
        &:hover {
            background: rgba(white, 0.2);
        }
    }

    h1, h2, button {
        @extend %animated;
        opacity: 0;
    }

    h1, h2 {
        animation-duration: 1s;
        animation-timing-function: ease-out;
    }

    button {
        animation-duration: 0.7s;
        animation-timing-function: ease;
    }

    h1 {
        font-size: rem(50);
    }

    h2 {
        color: rgba(white, 0.6);
    }
}

.intro {
    &:before, &:after {
        content: '';
        position: fixed 0;
    }

    &:before {
        background-color: $main_purple;
        z-index: -2;
    }

    &::after {
        background-position: top right;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-image: url('../img/background.svg');
        z-index: -1;
    }

}
