.hero {
    @extend %flex;
    @extend %flex-column;
    @extend %justify-center;
    color: white;
    padding: rem(10) rem(100);

    h1, h2, button {
        @extend %animated;
        opacity: 0;
    }

    h1, h2 {
        animation-duration: 1s;
        animation-timing-function: ease-out;
    }

    button {
        animation-duration: 0.7s;
        animation-timing-function: ease;
    }

    h1 {
        font-size: rem(50);
    }

    h2 {
        color: $sub_white;
    }
}

.intro {
    &:before, &:after {
        content: '';
        position: fixed 0;
    }

    &:before {
        background-color: $main_purple;
        z-index: -2;
    }

    &::after {
        background-position: top right;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-image: url('../img/background.svg');
        z-index: -1;
    }

}
